FireEmployee_ESB/src/main/app/ESB_AllDataTypeToJavaFireEmployeeRequest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <flow name="ESB_AllDataTypeToJavaFireEmployeeRequestFlow1" doc:name="ESB_AllDataTypeToJavaFireEmployeeRequestFlow1">
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['Content-Type'] == 'application/xml']">
                <logger message="xml to object!!" level="INFO" doc:name="Logger"/>
                <mulexml:xml-to-object-transformer returnClass="proyectomtis.ws.soap.fireemployeebusiness.DniIdAndBusinessId" doc:name="XML to Object">
                    <mulexml:alias name="DniIdAndBusinessId" class="proyectomtis.ws.soap.fireemployeebusiness.DniIdAndBusinessId"/>
                </mulexml:xml-to-object-transformer>
                <logger message="Vengo de XML to Object" level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[message.inboundProperties['Content-Type'] == 'application/json']">
                <logger message="json to object!!" level="INFO" doc:name="Logger"/>
                <json:json-to-object-transformer returnClass="proyectomtis.ws.soap.fireemployeebusiness.DniIdAndBusinessId" doc:name="JSON to Object"/>
                <logger message="Vengo de JSON to Object" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="Aqui va el error" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
