FireEmployee_ESB/src/main/app/ESB_AllDataTypeToJavaFireEmployeeRequest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <flow name="ESB_AllDataTypeToJavaFireEmployeeRequestFlow1" doc:name="ESB_AllDataTypeToJavaFireEmployeeRequestFlow1">
        <logger message="HTTP message.payload: #[message.payload]" level="INFO" doc:name="Logger"/>
        <mulexml:xml-to-object-transformer returnClass="esb.DniIdAndBusinessId" doc:name="XML to Object">
            <mulexml:alias name="DniIdAndBusinessId" class="esb.DniIdAndBusinessId"/>
        </mulexml:xml-to-object-transformer>
        <logger message="JSON Response: #[message.payload]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
