FireEmployee_ESB/src/main/app/jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="jmsFlow1" doc:name="jmsFlow1">
        <jms:inbound-endpoint topic="fireEmployee" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="Recieved JMS message: message.payload = #[message.payload]" level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="proyectomtis.ws.soap.fireemployeebusiness.DniIdAndBusinessId" doc:name="JSON to Object"/>
        <flow-ref name="invokeFireEmployee" doc:name="invokeFireEmployee"/>
        <logger message="JMS Post invoke: message.payload = #[message.payload]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="JMS Post Object To JSON: message.payload = #[message.payload]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint topic="fireEmployeeReport" connector-ref="Active_MQ" doc:name="JMS">
            <jms:transaction action="NONE"/>
        </jms:outbound-endpoint>
    </flow>
</mule>
